<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357774728723-402okfr48fdqmu9piprs5li0p7fqmk1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357774728723-402okfr48fdqmu9piprs5li0p7fqmk1a</string>
	<key>API_KEY</key>
	<string>AIzaSyD34Vfc3B8XpyhV3NhUBbOIgPsHq5hPGIA</string>
	<key>GCM_SENDER_ID</key>
	<string>357774728723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.panjay.CustomLoginDemo</string>
	<key>PROJECT_ID</key>
	<string>customlogindemo-6d77c</string>
	<key>STORAGE_BUCKET</key>
	<string>customlogindemo-6d77c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357774728723:ios:bb09deec6f64faad0be9e6</string>
	<key>DATABASE_URL</key>
	<string>https://customlogindemo-6d77c.firebaseio.com</string>
</dict>
</plist>